

<script src="/yaml/add-ons/accessible-tabs/jquery.tabs.js" type="text/javascript" />

<script type="text/javascript">
$(document).ready(function(){
  $('.jquery_tabs').accessibleTabs();
});
</script>

<div class="mainButton">
    <a href="/index.html">
        <img src="/icons/server.png">
    </a>
</div>


<section id="bigButtonArea">
    <form method="post" action="/config/save.html" class="ym-form">
    <!-- form row wrapper -->
    <div class="ym-fbox">
        <label for="pbToken-id">Pushbullet-API-Token</label>
        <input type="text" name="pbToken" id="pbToken-id" placeholder="Pushbullet-API-Token" />
     </div>

    <div class="ym-fbox-footer ym-g33">
        <input type="submit" class="ym-button ym-primary" name="origin" value="Save" id="Save"/>
    </div>

    </form>
</section>
