<h1>API-Test</h1>
<h2>Send Event</h2>
<form method="POST" action="/api/sendEvent">
    <input type="text" name="code" placeholder="Event-Code"><br>
    <input type="text" name="data" placeholder="Data"><br>
    <input type="text" name="sender" placeholder="Sender-IP"><br>

    <input type="submit" value="Send">
</form>
