
		<form class="pure-form pure-g" method="POST" action="/api/saveNode">
			<div class="pure-u-1">
				<h1>Neuer Knoten</h1>
			</div>		
				
			<div class="pure-u-2-5">			
					<input placeholder="Name" type="text" name="nodeName" id="nodeNameid" value="$$nodeName;" class="pure-input-1" />	
			</div>				
					
			<div class="pure-u-2-5">
				<select placeholder="Type" name="nodeTypeDropdown" id="nodeTypeDropdownID" size="1"  class="pure-input-1" >
					<option>$$nodeTypeDropDown;</option>
				</select>						
			</div>				
				
			<div class="pure-u-1-5">
				<input placeholder="ID" type="text" name="nodeID" id="nodeNameid" value="$$nodeID;" readonly  class="pure-input-1" />
			</div>		
			
			<div class="pure-u-1 ">
				<button type="reset" class="button-warning pure-button">Reset</button>	
				<button type="submit" class="pure-button pure-button-primary">Submit</button>							
			</div>
		</form>