<div class="pure-u-1">
	<h1>System</h1>
</div>

<div class="pure-u-1">
    <h2>Uptime</h2>
        $$uptime;
    <h2>Transfer</h2>
        $$transfered;
    <h2>Database</h2>
        $$database;
        $$dbDownload;
</div>
