.mainButton {
	width:100px;	
}

.mainButton img{
	width:60px;	
}

label {
	color:rgb(145, 145, 145);
}










/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #main {
    margin: 0;
    padding: 0;
}

#main {	
	max-width:800px;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: rgb(98, 157, 252);
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
	color:white;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
        margin-left:-500px; /* "left col (nav + list)" width */
        width:100px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #main {
        position: fixed;
        top: 33%;
        right: 0;
		margin-left: -400px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}


/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        padding: 20px;
    }
}
