body {
    background-color: #fff;
	font-family: "LatoWeb";
	font-style: normal;
    }

body, html {
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
}


#wrapper {
    width:100%;
    height: 100%; 
    position:relative;
    background-color: #fff;

}


.mainButton, .mainButtonWithText, .longButton {
    height:64px;
    border: 0px solid black;
    margin:15px;
    background-color:#0cc2ff;
    padding:8px;
    box-shadow: 4px 4px 5px #888;
    border-radius:0px;
    transition: box-shadow 0.2s;

}


.mainButton, .mainButtonWithText {
    width:64px;
    float:left;
}


.mainButton:hover, .mainButtonWithText:hover, .longButton:hover {
    box-shadow: 8px 8px 5px #888;
}

.mainButtonWithText span{
    overflow:hidden;
    margin-left:-8px;
    width:calc(100% + 16px);
    display:block;
    text-align:center;
    font-size:8pt;
    margin-top:5px;
}

.mainButton img {
    width:100%;
    height:100%;
}


.mainButtonWithText img {
    width:44px;
    height:44px;
    margin-left:10px;
}

.longButton .lb_Head{
    font-weight:bold;
    display:block;
    font-size:14pt;
}

.longButton .lb_Text{
    display:block;
}

.longButton .lb_Sub{
    display:block;
    font-size:10pt;
}

.longButton img{
    float:left;
    margin-right:10px;
}

.longButton .lb_linkText {
    display:block;
}


.longButton a{
    color:black;
    text-decoration:none;
}

#dashboard {
    border: 1px solid;
    border-radius:0px;
    width: calc(100% - 130px);
    min-height: calc(5 * 112px);
    right:10px;
	top:120px;
    position:absolute;
    display:block;
}

.dashColumn h1 {
		color:#0cc2ff;
		font-size:20pt;
		font-family: 'LatoWebHairline';
}


.dashColumn {
    width: calc(100% / 4);
	min-height:250px;
    border: 1px solid;
    background-color:#ddd;
	float:left;
	margin:10px;
	padding:5px;
}

#buttonArea, #bigButtonArea, #myChart, #alertEntrys  {
    border: 1px solid;
    background-color:#ddd;
    border-radius:0px;
    box-shadow: 2px 2px 5px #111;
    padding:20px;
    bottom:10px;
    right:10px;
    position:absolute;
    display:block;
}


#buttonArea {
    width: calc(100% - 170px);
    min-width: calc(5 * 112px);
}

#bigButtonArea, #myChart, #alertEntrys {
    width: calc(100% - 170px);
    height: calc(100% - 68px);
    min-width: calc(4 * 112px);
    min-height: calc(3 * 115px);
    overflow: scroll;
}

#bigButtonArea dl {
}

#bigButtonArea dd.Nodestate_Unknown {
    color:#008;
}

#bigButtonArea dd.Nodestate_Open, #bigButtonArea dd.Nodestate_On {
    color:#088;
}

#bigButtonArea dd.Nodestate_Closed, #bigButtonArea dd.Nodestate_Off {
    color:#808;
}

#bigButtonArea dt {
    font-weight: bold;
    float:left;
    margin-right:10px;
}

#dateArea {
    display:block;
    position:absolute;
    top:10px;
    left:10px;
    width:calc(100% - 40px);
    height:80px;
    padding:10px;
    color:#ddd;
}

.currentDateTime {
    font-size:24pt;
    font-weight:bold;
}

#solarArea {
    width: 100%;
    height: 100%;
}

#solarWrap {
    position:absolute;
    bottom:10px;
    right:10px;
    width: calc(100% - 170px);
    height: calc(100% - 68px);
    border: 1px solid;
    background-color:#ddd;
    border-radius:0px;
    box-shadow: 2px 2px 5px #111;
}

#alertOverlay {
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color:RGBA(239, 7, 7, 0.9);
    border:3px;
    z-index:10;
    display:none;
}

#alertsOK {
    border: 3px solid black;
    width:64px;
    height:64px;
    float:left;
    margin:15px;
    background-color:#eee;
    padding:8px;
    box-shadow: 4px 4px 5px #888;
    border-radius:0px;
    transition: box-shadow 0.2s;

    position:absolute;
    bottom:10px;
    left:10px;
    cursor: pointer;
}


#alertsOK:hover {
box-shadow: 6px 6px 5px #888;
}


.alertDate {
    font-size:8pt;
}

.alertTitle {
    font-weight: bold;
    font-size:14pt;
}

.alertState {
    font-weight: bold;
}


.ym-label {
	font-weight:bold;
	padding: 5px;
	background-color:RGBA(255, 255, 255, 0.5);
}

.fb-form-list {
	width: 100%;
}
.ym-form label {

	width: 100%;
}

.fb-form-list div{
	border: 1px solid black;
	border-width: 1px 0px 0px 0px;
	width: 100%;
	padding: 5px;
    transition: background-color 0.2s;
}


.fb-form-list div:hover{ 
	background-color:RGBA(255, 255, 255, 0.5);
}


.fb-form {
	border: 3px solid black;
    border-radius:0px;
	border-radius: 0px;
    box-shadow:inset -4px -4px 4px #BBB;
}




.categoryNodeTitle {
	font-weight:bold;
	display:block;
	margin-bottom:-15px;
	margin-top:15px;
	
}

.homeCategory  {
	min-width:150px;
    border: 1px solid;
	border-color:#0cc2ff;
    background-color:#ddd;
	float:left;
	margin:10px;
	padding:5px;
	
	
}

.homeCategory p {
	
}

.categoryTitle {
	font-weight:bold;
	font-size:16pt;
	display:block;
	margin-bottom:15px;
}


.small {	
	font-size:8pt;
}


.ioStatus {
	border:1px solid black;
	width: 25px;
	height:12px;
	border-radius:6px;
	display:inline-block;
	margin-bottom:-1px;
}

.ioOn {
	background-color:green;
}
.ioOff {
	background-color:red;
}