<div class="pure-u-1">
	<h1>Temperaturen</h1>
</div>

<div class="pure-u-1">
	<div id="solarWrap">
		<div id="solarArea"  >

		</div>
	</div>
</div>


<script src="js/highstock.js"></script>
<script src="Chart.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>

                <script type="text/javascript">
                var chart1; // globally available
                $(function() {
                      chart1 = new Highcharts.StockChart({
                         chart: {
                            renderTo: 'solarArea',
                         },
                         exporting: {
                                sourceWidth: 1600,
                                sourceHeight: 800,
                                scale: 1,
                                fallbackToExportServer: false
                          },
                         rangeSelector : {
                             allButtonsEnabled: true,
                             buttons: [{
                                 type: 'day',
                                 count: 1,
                                 text: 'Day'
                             }, {
                                 type: 'day',
                                 count: 7,
                                 text: 'Week',
                             }, {
                                 type: 'all',
                                 text: 'Month',
                             }, {
                                 type: 'all',
                                 text: 'All',
                             }],
                             buttonTheme: {
                                 width: 60
                             },
                             selected: 1
                          },
                         series: [$series;]
                      });
                   });
                </script>
<br style="clear:both">
