				<div class="pure-g">
					<div class="pure-u-1">
						<h1>Knoten</h1>
					</div>
					
					$$SettingsNodeList;	
						
					<div class="pure-u-1">
						<a href="/newNode.html"><input type="button" class="button-primary pure-button" value="Neuer Knoten" id="submit"/></a>
					</div>
				</div>