					<div class="pure-u-1-1">
						<h2>Solar-Wechselrichter</h2>
					</div>
					
					<div class="pure-u-1-2">
						<label for="AddrHexID" >Update-Intervall (min)</label>
						<input type="text" name="nodeUpdateInterval" id="UpdateID" value="$nodeUpdateInterval;" class="pure-input-1" />
					</div>	