					<div class="pure-u-1-1">
						<h2>IN/OUT</h2>
					</div>
					
					<div class="pure-u-1-2">						
						<label for="PinNo" >Pin</label>
						<input type="text" name="PinNo" id="PinNo" value="$PinNo;" class="pure-input-1" />
					</div>			
											
				
					<div class="pure-u-1-2">
						<label for="PinInput" >Ein/Ausgang</label>
						<select name="PinInput" id="PinInput" size="1" class="pure-input-1">
							<option value="on">Eingang</option>
							<option value="off">Ausgang</option>
						</select>
					</div>