					<div class="pure-u-1-1">
						<h2>Network</h2>
					</div>
					
					<div class="pure-u-1-2">
						<label for="IPid" >IP</label>
						<input type="text" name="IP" id="IPid" value="$nodeIP;" class="pure-input-1" />
					</div>			
					
					<div class="pure-u-1-2">
						<label for="Portid" >Port</label>
						<input type="text" name="Port" id="Portid" value="$nodePort;" class="pure-input-1" />
					</div>	