					<div class="pure-u-1-1">
						<h2>LM 75</h2>
					</div>
					
					<div class="pure-u-1-2">
						<label for="AddrHexID" >Adress (Hex)</label>
						<input type="text" name="LM75Address" id="AddrHexID" value="$nodeAddrHexLM75;" class="pure-input-1" />
					</div>			
					
					<div class="pure-u-1-2">
						<label for="AddrHexID" >Update-Interval (sec)</label>
						<input type="text" name="UpdateIntervalSec" id="UpdateID" value="$nodeUpdateInterval;" class="pure-input-1" />
					</div>	