					<div class="pure-u-1">
						<h2>Regeln</h2>
					</div>
					
				<!-- HEADER -->		

					<div class="pure-u-4-24">Quelle</div>
					<div class="pure-u-4-24">Vergleich</div>
					<div class="pure-u-4-24">Event/Wert</div>
					<div class="pure-u-4-24">Reaktion</div>
					<div class="pure-u-4-24">Verzögerung (sec)</div>
					<div class="pure-u-4-24"> </div>
			
				<!-- INPUTS -->		
					<div class="pure-u-4-24">			
						<select name="RuleSource" id="RuleSource" size="1"  class="pure-input-1">
							$$allNodesAsOption;
						</select>		
					</div>		
					
					<div class="pure-u-4-24">
						<select name="RuleCompare" id="RuleCompare" size="1"  class="pure-input-1">
							<option value="1">=</option>
							<option value="2">></option>
							<option value="3"><</option>
						</select>
					</div>
						
					<div class="pure-u-4-24">
						<input placeholder="" type="text" name="RuleData" id="RuleData" value="$$RuleData;"  class="pure-input-1" />
					</div>
				
					
					<div class="pure-u-4-24">
						<select name="RuleAction" id="RuleAction" size="1"  class="pure-input-1">
							 $$nodeEventsAsOption;
						</select>
					</div>
						
					<div class="pure-u-4-24">
						<input placeholder="" type="number" name="RuleDelay" id="RuleDelay" value="$$RuleDelay;" min="1"  class="pure-input-1" />
					</div>
					
					<div class="pure-u-4-24">
						<button type="reset" class="button-warning pure-button">X</button>	
					</div>