<div class="longButton">
    <a href="$link;">
        <img src="icons/$icon;.png">
    </a>

    <a href="$link;" class="lb_linkText">
        <span class="lb_Head">$head;</span>
        <span class="lb_Text">$text;</span>
        <span class="lb_Sub">$subText;</span>
    </a>
</div>
