

<script src="js/highstock.js"></script>
<script src="Chart.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>

                <script type="text/javascript">
                var chart1; // globally available
                $(function() {
                      chart1 = new Highcharts.StockChart({
                      exporting: {
                             sourceWidth: 1600,
                             sourceHeight: 800,
                             scale: 1,
                             fallbackToExportServer: false
                       },
                      rangeSelector : {
                          allButtonsEnabled: true,
                          buttons: [{
                              type: 'day',
                              count: 1,
                              text: 'Day'
                          }, {
                              type: 'day',
                              count: 7,
                              text: 'Week',
                          }, {
                              type: 'all',
                              text: 'Month',
                          }, {
                              type: 'all',
                              text: 'All',
                          }],
                          buttonTheme: {
                              width: 60
                          },
                          selected: 1
                       },
                         chart: {
                            renderTo: 'solarArea',
                         },
                         series: [{
                             name: 'WR1',
                             color: '#bde5fc',
                             type: 'column',
                             dataGrouping: {approximation: "average"},
                             tooltip: {enabled: false},
                             data: [$dataA;]
                         },
                         {
                            name: 'WR2',
                            color: '#f9e49d',
                            type: 'column',
                            dataGrouping: {approximation: "average"},
                            tooltip: {enabled: false},
                            data: [$dataB;]
                         },
                         {
                            name: 'WR1',
                            color: '#1cabff',
                            type: 'spline',
                            data: [$dataA;]
                         },
                         {
                            name: 'WR2',
                            color: '#f4bb00',
                            type: 'spline',
                            data: [$dataB;]
                         }]
                      });
                   });
                </script>
<br style="clear:both">