body {
background-color: #333;
font-family: Verdana;
color:white;
margin:10px;
padding:0;
height:100%;
overflow:hidden;
}

#wrap {
width:600px;
padding:5px;
margin:0 auto;
border:3px solid black;
box-shadow: 4px 4px 5px #111;
background-color: #444;
border-radius:5px;
}

fieldset {
border-radius:5px;
border:1px solid black;
box-shadow: 2px 2px 5px #111;
margin:5px 0px;
}

hr {
border:2px solid black;
}
