/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
         url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'LatoWebBold';
         url('fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
         url('fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'LatoWebLight';
         url('fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
         url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
    font-family: 'LatoWeb';
         url('fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}